@model Brand


<h1>Detail</h1>
<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <a asp-controller="Studnet" asp-action="index" asp-route-id="@Model.Id">
        <li>
            Brandlar
        </li>   
    </a>
</ul>
