@model List<Brand>
<ul>
    @foreach (Brand group in Model)
    {
        <a asp-controller="Home" asp-action="Detail" asp-route-id="@group.Id">
            <li>@group.Name</li>
        </a>
    }
</ul>